<!DOCTYPE html>
<html>



<style>
  .att{
    color: rgb(169, 19, 29);
  }

  
.dfd {
  border:1px sospand black;
}
.bd{
  background-color: rgb(7, 10, 28);
  background-image: url(/static/images/bckg2.jpg);
  background-repeat: no-repeat;
 background-size: 75cm;
}
.u{
  color: #e1dada;
}
span{
  color: rgb(226, 185, 19);
}
tr{
  color: aqua;
}
th{
  color: rgb(155, 57, 21);
}
</style>


<body class="bd">
  

{% extends 'base.html' %}
{% block body %}
 <h3 class="text-center"><span>Student Triggers Records</span> </h3>
  
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}


</div>
  {% endfor %}
  {% endif %}
  {% endwith %}
<br>

<div class="container mt-4">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">TID</th>
      <th scope="col">ROLL NUMBER</th>
      <th scope="col">ACTION</th>
      <th scope="col">TIMESTAMP</th>


    </tr>
  </thead>
  <tbody>
  {% for post in query %}
    <tr>
      <th scope="row">{{post.tid}}</th>
      <td>{{post.rollno}}</td>
      <td>{{post.action}}</td>
      <td>{{post.timestamp}}</td>
     
  
    </tr>
{% endfor %}
  
  </tbody>
</table>
</div>



{% endblock body %}
</body>
</html>